<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <style>
        .centered {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* height: 100vh; */
        }
    </style>
</head>
<body>
    <div class="centered">
        <h1 class="mb-4">Heart Disease Detector</h1>
        <form action="/submit/" method="post">
            <div class="mb-3">
                <label for="age" class="form-label">Age:</label>
                <input type="number" class="form-control" id="age" name="age" required>
            </div>
            <div class="mb-3">
                <label for="sex" class="form-label">Sex:</label>
                <select class="form-select" id="sex" name="sex" required>
                    <option value="1">Male</option>
                    <option value="0">Female</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="chest_pain_type" class="form-label">Chest Pain Type:</label>
                <input type="number" class="form-control" id="chest_pain_type" name="chest_pain_type" required>
            </div>
            <div class="mb-3">
                <label for="resting_bp" class="form-label">Resting Blood Pressure:</label>
                <input type="number" class="form-control" id="resting_bp" name="resting_bp" required>
            </div>
            <div class="mb-3">
                <label for="serum_cholesterol" class="form-label">Serum Cholestoral (mg/dl):</label>
                <input type="number" class="form-control" id="serum_cholesterol" name="serum_cholesterol" required>
            </div>
            <div class="mb-3">
                <label for="fasting_blood_sugar" class="form-label">Fasting Blood Sugar (> 120 mg/dl):</label>
                <select class="form-select" id="fasting_blood_sugar" name="fasting_blood_sugar" required>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="resting_ecg" class="form-label">Resting Electrocardiographic Results:</label>
                <select class="form-select" id="resting_ecg" name="resting_ecg" required>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="max_heart_rate" class="form-label">Maximum Heart Rate Achieved:</label>
                <input type="number" class="form-control" id="max_heart_rate" name="max_heart_rate" required>
            </div>
            <div class="mb-3">
                <label for="exercise_angina" class="form-label">Exercise Induced Angina:</label>
                <select class="form-select" id="exercise_angina" name="exercise_angina" required>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="oldpeak" class="form-label">ST Depression Induced by Exercise Relative to Rest:</label>
                <input type="number" class="form-control" id="oldpeak" name="oldpeak" required>
            </div>
            <div class="mb-3">
                <label for="slope" class="form-label">Slope of the Peak Exercise ST Segment:</label>
                <select class="form-select" id="slope" name="slope" required>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="num_vessels" class="form-label">Number of Major Vessels Colored by Fluoroscopy:</label>
                <select class="form-select" id="num_vessels" name="num_vessels" required>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="thal" class="form-label">Thal:</label>
                <select class="form-select" id="thal" name="thal" required>
                    <option value="1">Normal</option>
                    <option value="2">Fixed Defect</option>
                    <option value="3">Reversible Defect</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
